/* Body Styles */
body {
    margin: 0;
    padding: 0;
    font-family: "Google Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #131313;
    line-height: 1.15rem;
    display: grid;
    background-color: #FFFFFF;
    grid-template-areas:
        "aside main main";
    grid-template-columns: 22% 50% 28%;
    visibility: hidden
}

/* Main Styles */
main {
    grid-area: main;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "aside main main";
    grid-template-areas:
        "chat-header-containe"
        "chat-console-container"
        "chat-input-container";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr 1fr;
}

/* Chat Styles */
#chat-header-container,
#forum-header-container {
    margin: 0;
    grid-area: chat-header-containe;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

/* adjustArea Styles */
.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.component {
    flex: 1;
    box-sizing: border-box;
}

/* Logo Styles */
.logo-image {
    max-width: 10rem;
    margin: 0.5rem 0.5rem 0.5rem 3rem;
}

/* Aside Styles */
aside {
    grid-area: aside;
    background-color: #F0F4F9;
    height: 100vh;
}

aside nav {
    margin: 0;
    padding: 0;
}

aside nav ul {
    width: 19rem;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 0.05rem solid #CCC;
}

aside nav ul li {
    margin: 0 auto;
    padding: 0;
    width: 70%;
    display: flex;
    gap: 1rem;
    align-items: center;
}

aside nav ul li img {
    width: 2rem;
    max-height: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Logout Styles */
#session-navbar-ul {
    display: flex;
    justify-content: end;
}

#session-navbar-li {
    margin-right: 2rem;
}

.logout-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 0.1111rem 0.1111rem 0.5556rem rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
}

.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 1.0625rem;
}

.sign svg path {
    fill: white;
}

.text {
    position: absolute;
    right: 0.5rem;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

.logout-btn:hover {
    min-width: 8rem;
    border-radius: 2.5rem;
    transition-duration: 0.3s;
    text-align: right;
}

.logout-btn:hover .sign {
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 0.5rem;
}

.logout-btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 0.625rem;
}

.logout-btn:active {
    transform: translate(0.25rem, 0.25rem);
}

/* Console Styles */
#chat-console-container,
#forum-section-container {
    grid-area: chat-console-container;
    box-sizing: border-box;
    padding: 1rem 10rem;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    line-height: 1.4rem;
}

#forum-section-container {
    display: flex;
    flex-direction: column;
}

#forum-section-container>section.post-section-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-bottom: 0.05rem solid #CCC;
}

#forum-section-container>section.post-section-container:last-child {
    border-bottom: none;
}

#forum-section-container>section>article h2,
#forum-section-container>section>article h3,
#forum-section-container>section>article p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#forum-section-container>section>article h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.85rem;
    line-height: 1rem;
    margin-bottom: 0.25rem;
}

#forum-section-container>section>article h2:hover {
    color: rgb(10, 68, 155);
    cursor: pointer;
}

#forum-section-container>section>article h2 span {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1rem;
    color: rgb(92, 108, 116);
}

#forum-section-container>section>article h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

#forum-section-container>section>article p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: rgb(92, 108, 116);
}

.post-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.post-header>img {
    width: 1.5rem;
    height: 1.5rem;
    filter: drop-shadow(0.1111rem 0.1111rem 0.5556rem rgba(0, 0, 0, 0.199));
}

.post-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: justify;
    box-sizing: border-box;
}

div#forum-section-container section.post-section-container {
    padding: 1rem;
}

div#forum-section-container section.post-section-container article.post-header,
div#forum-section-container section.post-section-container>article.post-body {
    box-sizing: border-box;
    padding: 0.75rem;
}

div#forum-section-container section.post-section-container>article.post-footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    box-sizing: border-box;
    padding: 0.75rem;
}

.post-footer>button {
    width: 8rem;
    padding: 0.50rem 1rem;
    background-color: #F0F4F9;
    border: none;
    outline: none;
    border-color: none;
    border-radius: 5rem;
    box-sizing: border-box;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgb(19, 19, 19);
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 0.25rem;
}

.post-footer>button:hover {
    background-color: #CCC;
}

.post-body:first-child {
    font-weight: bold;
}


#chat-console-container h2 {
    margin: 0;
    font-size: 1.5rem;
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    text-align: center;
    line-height: normal;
}

#chat-console-container h3 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    text-align: center;
    line-height: normal;
}

#chat-console-container p {
    margin: 0;
    padding: 0;
    max-width: 100%;
    word-wrap: break-word;
}

#chat-console-container::-webkit-scrollbar {
    scrollbar-gutter: none;
}

#chat-console-container::-webkit-scrollbar-track {
    background-color: transparent;
}

#chat-console-container::-webkit-scrollbar-thumb {
    background-color: #888;
}

#chat-console-container>p {
    margin: 0;
    padding: 0;
}

span {
    font-size: 0.75rem;
}

/* Textarea Styles */
#chat-input-container {
    grid-area: chat-input-container;
}

#chat-input-container>p {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: min-content;
}

textarea {
    background-color: #F0F4F9;
    border: none;
    padding: 1.3rem 1rem 1rem 1rem;
    font-size: 1rem;
    width: 80%;
    border-radius: 5rem;
    box-shadow: 0 0.4rem #CED2D7;
    word-wrap: break-word;
    resize: none;
    overflow: hidden;
    white-space: pre-wrap;
}

textarea::placeholder {
    color: #888;
}

textarea:focus {
    outline: none;
}

/* Settings Styles */
.settings-container {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 3rem;
    box-sizing: border-box;
}

.settings {
    max-width: 2.5rem;
    min-width: 1.5rem;
    cursor: pointer;
    filter: drop-shadow(0.1111rem 0.1111rem 0.5556rem rgba(0, 0, 0, 0.199));
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: flex-end;
}

.modal-content {
    background-color: #FEFEFE;
    padding: 2rem;
    min-width: 10rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 9999;
}

.modal-content img {
    margin: 0 auto;
}

.userName {
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    text-align: center;
    font-family: "Courgette", cursive !important;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    color: #1E90FF;
}

/* Language Styles */
label {
    margin: 0;
    padding: 0;
}

.languageContainer {
    margin: 1rem 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 1rem;
    border-top: 0.05rem solid #CCC;
    border-bottom: 0.05rem solid #CCC;
}

#languageSelector {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5rem;
    box-sizing: border-box;
}

#languageSelector i {
    margin-right: 0.5rem;
}

.session-paragraph {
    margin: 0;
    padding: 0;
}

/* Aside Styles */
aside {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Title Styles */
aside h4 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: #157A1C;
    text-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.2);
    letter-spacing: 0.15rem;
}

.online-user-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
}

.online-user {
    display: flex;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.online-user figure {
    width: 2.5rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.online-user section {
    width: 8.5rem;
    margin: 0 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.online-user h2 {
    margin: 0;
    padding: 0;
    font-family: "Courgette", cursive;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    box-sizing: border-box;
}

.online-user p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    box-sizing: border-box;
}

.online-user button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 6rem;
    height: 70%;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 5rem;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #FFF;
}

.online-user button:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.online-user button:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.online-user button:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

/* Searchbar Styles */
.searchbar {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    z-index: 3;
    height: 44px;
    background: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
}

.searchbar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}

.searchbar-wrapper {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}

.searchbar-left {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.search-icon-wrapper {
    margin: auto;
}

.search-icon {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    line-height: 20px;
    width: 20px;
}

.searchbar-icon {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.searchbar-center {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.searchbar-input-spacer {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
}

.searchbar-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
}

.searchbar-right {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row
}

.searchbar-clear-icon {
    margin-right: 12px
}

.voice-search {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 1.5rem;
}

/* Create Styles */
.button-img-content-container {
    display: flex;
    justify-content: center;
}

.button-img-content-container-children {
    width: 19rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

a.plusButton {
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    border: none;
    font: inherit
}

.plusButton {
    --plus_sideLength: 2rem;
    --plus_topRightTriangleSideLength: 0.9rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #FFFFFF;
    width: var(--plus_sideLength);
    height: var(--plus_sideLength);
    background-color: #131313;
    overflow: hidden;
}

.plusButton::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
    border-style: solid;
    border-color: transparent white transparent transparent;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.plusButton:hover {
    cursor: pointer;
}

.plusButton:hover::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton:focus-visible::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton>.plusIcon {
    fill: #FFFFFF;
    width: calc(var(--plus_sideLength) * 0.7);
    height: calc(var(--plus_sideLength) * 0.7);
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.plusButton:hover>.plusIcon {
    fill: #131313;
    transform: rotate(180deg);
}

.plusButton:focus-visible>.plusIcon {
    fill: #131313;
    transform: rotate(180deg);
}

/* Button Container Styles */
.button-container {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

.button-container button,
.button-container a,
.button-container img {
    cursor: pointer;
}

.button-container button {
    width: 2.1875rem;
    height: 2.1875rem;
    border: none;
    border-radius: 50%;
    background-color: #F0F4F9;
}

.update:hover {
    background-color: #E5F4F6;
}

.delete:hover {
    background-color: #FFE6E6;
}

.comment-container {
    padding: 1rem;
    border-radius: 1.25rem;
    background-color: #F2F2F2;
    line-height: 1.25rem;
    flex-direction: column;
    justify-content: center;
}

.comment-container-header {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.comment-container-header p {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.comment-container img {
    width: 1.5rem;
    height: 1.5rem;
    filter: drop-shadow(0.1111rem 0.1111rem 0.5556rem rgba(0, 0, 0, 0.199));
}

.comment-container span {
    font-size: 1rem;
    font-weight: bold;
}

/* Tablet Styles */
@media only screen and (max-width: 1024px) {

    body {
        grid-template-areas:
            "main main main";
        grid-template-columns: 1fr 1fr 1fr;
    }

    main {
        height: 99vh;
        padding-bottom: 1vh;
    }

    #chat-console-container {
        padding: 1.5rem;
    }

    .logo-image {
        margin: 0.5rem auto;
        display: flex;
        justify-content: center;
    }

    nav ul {
        width: 60%;
        gap: 1rem !important;
    }

    aside {
        display: none;
    }

    .settings-container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/* Mobile Styles */
@media only screen and (max-width: 768px) {

    /* Body Styles */
    body {
        grid-template-areas:
            "main main main";
        grid-template-columns: 1fr 1fr 1fr;
    }

    main {
        height: 99vh;
        padding-bottom: 1vh;
    }

    #chat-header-container,
    #forum-header-container {
        padding: 0.5rem 0;
        font-size: 0.9rem;
    }

    #chat-console-container {
        padding: 1.5rem;
    }

    .logo-image {
        display: none;
    }

    #chat-console-container h2 {
        display: none;
    }

    h3 {
        display: none;
    }

    .menu-button {
        margin-left: 0.5rem;
        flex-grow: 1;
    }

    .component {
        padding: 0 1rem 0 0.5rem;
    }

    aside {
        display: none;
    }

    nav ul {
        gap: 1rem !important;
    }

    .settings-container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: end;
        align-items: center;
    }

}

/* Mobile Devices */
@media screen and (max-width: 767px) {

    body {

        height: 100vh;
        grid-template-areas:
            "main";
        grid-template-columns: 1fr;
    }

    main {
        grid-template-areas: "chat-header-containe" "chat-console-container" "chat-input-container";
        grid-template-columns: 1fr;
    }

}